<div class="pagetitle">
    <h1>Consulta de comprobantes</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Consulta de comprobantes</li>
        </ol>
    </nav>
</div>

<section class="section dashboard">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body row card-w-title">
                    <div class="form-group drop-space col-sm-6 col-12">
                        <label for="dropDown" class="form-label t-bold">Status Pedidos(s) <b
                                style="color: brown;">*</b>:</label><br>
                        <div class="btn-group group-dropdown-form" role="group">
                            <app-dropdown [options]="statusComprobantes" [font]="'statusPedidos'"
                                (selectionChange)="cambioDeSeleccion($event)"></app-dropdown>
                        </div>
                    </div>

                    <div class="botonera">
                        <button class="btn btn-primary t-bold" [disabled]="canGet()"
                            (click)="obtenerComprobantesPagoPorStatus()">Consultar</button>
                        <button class="btn btn-success t-bold" [disabled]="canExport()">Excel</button>
                        <button class="btn btn-danger t-bold" [disabled]="canClean()"
                            (click)="limpiarTabla()">Limpiar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12" [ngClass]="{'col-lg-9': detalleComprobante?.tipoArchivoComprobante.includes('image') ?? false}">
            <app-datatable [columnasTabla]="columnasComprobantes" [datosTabla]="listaComprobantesStatus"
                [tableConfig]="tableConfig" (actionSelected)="obtenerDetalleComprobante($event)"></app-datatable>
        </div>        

        <ng-container *ngIf="detalleComprobante?.tipoArchivoComprobante.includes('image')">
            <div class="col-lg-3 col-12">
                <div class="card">
                    <div class="card-body row card-w-title t-center">
                        <img
                            src="data:{{detalleComprobante.tipoArchivoComprobante}};base64,{{detalleComprobante.comprobantePago}}">
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</section>