.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

.fullscreen-image-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 90%;
    text-align: center;
}

.fullscreen-image {
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.fullscreen-image.zoomed {
    transform: scale(1.5); /* Ajusta el nivel de zoom según sea necesario */
    transition: transform 0.3s ease; /* Agrega una transición suave para el zoom */
}