<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link collapsed" [routerLink]="['/chatbot']">
                <i class="bi bi-grid"></i>
                <span>Inicio</span>
            </a>
        </li>

        <li class="nav-heading">Administración</li>

        <li class="nav-item" [routerLink]="['chats']">
            <a class="nav-link collapsed">
                <i class="bi bi-whatsapp"></i>
                <span>Chats en espera</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed">
                <i class="bi bi-person-lines-fill"></i>
                <span>BlackList</span>
            </a>
        </li>

        <li class="nav-heading">Gestión</li>

        <li class="nav-item" [routerLink]="['comprobantes']">
            <a class="nav-link collapsed">
                <i class="bi bi-credit-card-2-front"></i>
                <span>Comprobantes</span>
            </a>
        </li>
    </ul>
</aside>